.title {
  font-family: var(--font-family);
  line-height: 1.4;

  &.one {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-grey-0);
  }
  &.two {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    min-width: 3.1rem;
    max-width: 3.1rem;

  }
  &.three {
    font-size: clamp(0.9024rem, 2vw, 1.125rem);
    font-weight: 700;
    color: var(--color-grey-0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 2rem;
   
  }
  &.four {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-grey-1);
    min-width: 4rem;
    max-width: 4rem;
    min-height: 2rem;
   
  }
  &.five {
    font-size: clamp(0.6016rem, 2vw, 0.75rem);
    font-weight: 600;
    color: var(--color-grey-1);
  }
  &.modal {
    font-size: clamp(0.7019rem, 2vw, 0.875rem);
    font-weight: 700;
    color: var(--color-grey-0);
  }
}

.paragraph {
  font-family: var(--font-family);
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-grey-0);
  &.label {
    font-size: clamp(0.6108rem, 2vw, 0.7614rem);
    &.negative {
      color: var(--negative);
    }
  }
  &.placeholder {
    font-size: clamp(0.8117rem, 2vw, 1.0152rem);
  }
}
.paragraph2 {
  font-family: var(--font-family);
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-grey-1);
  font-size: clamp(0.5994rem, 2vw, 0.75rem);
}
