.flexBox {
  background-color: var(--color-grey-4);
  width: 90%;
  padding: 13px 17px;
  display: flex;
  flex-direction: column;
  gap: 16px 10px;
  border-radius: 4px;

  .btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    div {
      display: flex;
      // width:50%;
      padding: 0 10px;
      gap: 10px;
    }
    button {
      color: #ffffff;
    }
  }
}
@media (min-width: 870px) {
  .flexBox {
    flex-direction: row;
    padding: 23px 22px;
    .btn {
      justify-content: end;
    }
  }
}
